body {
	background-color: #95CEC6;
	margin: 0px;
	background-image: url('img/background.png');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

h1,
h2,
p {
	color: white;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 10px;
}

p { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	-webkit-font-smoothing:antialiased;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.4em;
	color: white;
	opacity: 0.8;
	border-top: 2px solid rgba(255, 255, 255, 1);
	padding-top: 10px;
	text-align: center;
	margin-top: 0px;
}

a {
	color: white;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
}

a:hover {
	opacity: 1;
	border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.wrapper{
	overflow: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 300px;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

.wrapper:after {
content: '';
position: fixed;
top: 20px;
right: 20px;
bottom: 20px;
left: 20px;
border: 4px solid rgba(255,255,255,1);
 }

.table-wrapper{
	position: relative;
	z-index: 500;
	display: table;
	height: 100%;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.table-center{
	display: table-cell;
	vertical-align: middle;
}

.icons {
	z-index: 1000;
	margin-left: -145px;
	display: block;
	position: absolute;
	bottom: 275px;
	left: 50%;
}

.twitter,
.dribbble,
.instagram,
.linkedin,
.medium,
.behance {
	display: block;
	width: 40px;
	height: 40px;
	background-size: 40px;
	float: left;
	opacity: 0.5;
}

.dribbble,
.instagram,
.linkedin,
.medium,
.behance {
	margin-left: 10px;
}

a.twitter:hover,
a.dribbble:hover,
a.instagram:hover,
a.linkedin:hover,
a.medium:hover,
a.behance:hover {
	opacity: 1;
}

.twitter {
	background-image: url(img/twitter.png);
}

.dribbble {
	background-image: url(img/dribbble.png);
	opacity: 0.58;
}

.instagram {
	background-image: url(img/instagram.png);
}

.linkedin {
	background-image: url(img/linkedin.png);
}

.medium {
	background-image: url(img/medium.png);
}

.behance {
	background-image: url(img/behance.png);
}

@media screen and (max-width: 1500px) {
.icons {
	bottom: 230px;
}
body {
	background-image: url('img/background2.png');
}
}

@media screen and (max-width: 1200px) {
body {
	background-image: url('img/background3.png');
}
}

@media screen and (max-width: 500px) {
.wrapper{
	background-image: url(logo-mobile.png);
}
}

@media screen and (max-width: 400px) {
	.wrapper{
		background-size: 250px;
	}
	.icons {
		margin-left: -120px;
		top: 50px;
	}
	.dribbble,
	.instagram,
	.linkedin,
	.medium,
	.behance {
		margin-left: 0px;
	}
}















